<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus <br>propios juegos!</p>
	<p><a href="/quizes/question" target="_self">Comienze a jugar</a></p>
  </body>
</html>
